:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

.login{
    width: 350px;
}

.mat-form-field {
    width: 100%;
    min-width: 320px;
}

mat-card-title, mat-card-actions{
    display: flex;
    justify-content: center;
} 
mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}